# Some configuration info

# PySpark
PY_PORT_ONE=68888
PY_PORT_TWO=64040

# postgres
PG_PASS=devpass
PG_USER=devuser
PG_DB=devstorage
PG_VOLUME=./volumes/postgres
PG_PORT=65432

# Adminer
ADMINER_PORT=68080

# Container restart policy
# Defaults to unless-stopped
RESTART_POLICY=always